body {
  margin: 0;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 600px;
}

th {
  color: #7d879c;
}

td {
  font-size: 0.8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.4rem !important;
}
